<!DOCTYPE html>
<html>

<head>
    <title>Speech to SQL Translation with LLMs</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <style>
        body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
     </style>
</head>

<body>
    <h2 class="pt-3 text-center">Ask me anything about <span class="text-bg-dark">bookings and flights</span></h2>
    <p class="text-center">Powered by <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/Databricks_Logo.png/800px-Databricks_Logo.png" alt="Image" style="width:100px"></p>

    <div class="container bs-secondary-color min-vh-100 h-100">
        <div class="row" style="height: 30vh;">
            <div class="col px-5 pt-3 pb-5 m-3 border shadow bg-body-tertiary position-relative">
                <div class="d-flex flex-column h-100">
                    <h5>1. Speak or simply type in your question</h5>
                    <p>
                        Recording:
                        <button type="button" class="btn btn-sm btn-success" id="startRecording"><i class="bi bi-record-fill"></i></button>
                        <button type="button" class="btn btn-sm btn-danger me-2" id="stopRecording"><i class="bi bi-stop-fill"></i></button>
                        <span class="spinner-border spinner-border-sm invisible" role="status" id="recordSpinner"></span>
                    </p>
                    <textarea class="form-control flex-grow-1" id="transcribed"></textarea>
                </div>
                <button type="button" class="btn btn-success position-absolute bottom-0 end-0 m-1" id="confirmText">Confirm question</button>
            </div>
            <div class="col px-5 pt-3 pb-5 m-3 border shadow bg-body-tertiary position-relative opacity-25" id="query-box">
                <div class="d-flex flex-column h-100">
                    <p>
                        <h5>2. Generate SQL</h5>
                        <span class="spinner-border spinner-border-sm invisible" role="status" id="sqlSpinner"></span>
                    </p> 
                    <textarea class="form-control flex-grow-1" id="sqlQuery" rows="2"></textarea>
                </div>
                <button type="button" class="btn btn-success position-absolute bottom-0 end-0 m-1" id="confirmQuery">Confirm query</button>
            </div>
        </div>
        <div class="row" style="height: 30vh;">
            <div class="col px-5 pt-3 pb-5 m-3 border shadow bg-body-tertiary opacity-25" id="result-box">
                <div class="d-flex flex-column h-100">
                    <h5>3. Query results</h5>
                    <textarea class="form-control flex-grow-1" id="sqlQueryResult" readonly></textarea>
                </div>
            </div>
        </div>
    </div> 

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script>
        navigator
            .mediaDevices
            .getUserMedia({ audio: true })
            .then(stream => { handlerFunction(stream) });

        function handlerFunction(stream) {
            rec = new MediaRecorder(stream, { mimeType: "audio/webm" });
            rec.ondataavailable = e => {
                audioChunks.push(e.data);
                if (rec.state == "inactive") {
                    let blob = new Blob(audioChunks, { type: rec.mimeType });
                    sendData(blob);
                }
            }
        }

        function sendData(data) {
            var form = new FormData();
            form.append('file', data);
            //Chrome inspector shows that the post data includes a file and a title.
            $.ajax({
                type: 'POST',
                url: '/save-record',
                data: form,
                cache: false,
                processData: false,
                contentType: false
            }).done(function (data) {
                console.log(data);
                document.getElementById('transcribed').innerHTML = data;
                document.getElementById('transcribed').style.color="#000000"; 
                document.getElementById("recordSpinner").classList.add("invisible");
            });
        }

        function convertText2SQL(question_text) {
            var form = new FormData();
            form.append('question_text', question_text);
            $.ajax({
                type: 'POST',
                url: '/convert-text2sql',
                data: form,
                cache: false,
                processData: false,
                contentType: false
            }).done(function (sqldata) {
                console.log(sqldata);
                document.getElementById('sqlQuery').value = sqldata;
                document.getElementById('sqlQuery').style.color="#000000"; 
                document.getElementById("sqlSpinner").classList.add("invisible");
            });
        }

        function sendSQLQuery(question_sql) {
            var form = new FormData();
            form.append('question_sql', question_sql);
            $.ajax({
                type: 'POST',
                url: '/send-sql-query',
                data: form,
                cache: false,
                processData: false,
                contentType: false
            }).done(function (sqlresult) {
                console.log(sqlresult);
                document.getElementById('sqlQueryResult').value = sqlresult;
                document.getElementById('sqlQueryResult').style.color="#000000"; 
            });
        }

        startRecording.onclick = e => {
            console.log('Recording are started..');
            document.getElementById("recordSpinner").classList.add("invisible");
            document.getElementById("sqlSpinner").classList.add("invisible");
            document.getElementById("transcribed").style.color="#ffffff";
            document.getElementById("sqlQuery").style.color="#ffffff";
            document.getElementById("sqlQueryResult").style.color="#ffffff";
            startRecording.disabled = true;
            stopRecording.disabled = false;
            audioChunks = [];
            rec.start();
        };

        stopRecording.onclick = e => {
            console.log("Recording are stopped.");
            startRecording.disabled = false;
            stopRecording.disabled = true;
            rec.stop();
            document.getElementById("recordSpinner").classList.remove("invisible");
        };


        confirmText.onclick = e => {
            console.log("Confirmed text");
            document.getElementById("query-box").classList.remove("opacity-25");
            document.getElementById("sqlSpinner").classList.remove("invisible");
            var question_text = $('#transcribed').val();
            console.log(question_text)
            console.log("Sending text to the LLM.");
            convertText2SQL(question_text);      
        };

        confirmQuery.onclick = e => {
            console.log("Confirmed query");
            document.getElementById("result-box").classList.remove("opacity-25");
            var question_sql = $('#sqlQuery').val();
            console.log(question_sql)
            console.log("Sending query to the warehouse.");
            confirmQuery.disabled = false;
            sendSQLQuery(question_sql);
        };

    </script>
</body>

</html>